@media(max-width: 425px) {

    .pop-up-message-wrapper {

        .pop-up-message-flex {

            .pop-up-message {
                width: 90%;
                padding: 12px;
            }
        }
    }

    .wrapper {
        width: 100%;
        padding: 14px 24px;

        .content-wrapper {
            padding: 24px 24px 18px 24px;

            .content__title {
                font-size: 17px;
            }

            .content__plot {
                font-size: 13px;
            }

            .content__button {
                width: 100%;
            }
        }
    }
}