@media(max-width: 768px) {

    .pop-up-message-wrapper {

        .pop-up-message-flex {

            .pop-up-message {
                width: 80%;
            }
        }
    }

    .wrapper {
        flex-direction: column;
        width: 720px;
        padding: 24px;

        .content-wrapper {
            width: 100%;
            height: auto;
            padding: 24px;

            .content__title {
                font-size: 20px;
            }

            .content__plot {
                font-size: 15px;
            }

            .content__button {
                padding: 10px 10px 10px 18px;
                width: 261px;
                height: 56px;
            }

            .content__button-span {
                font-size: 15px;
            }

            .content__button-image {
                width: 36px;
                height: 36px;
            }
        }

        .visual-wrapper {
            width: 100%;
            height: auto;
        }
    }
}